/Interpolación/Lineal/Lineal/nbproject/private/
/Interpolación/Lineal/Lineal/build/
/Interpolación/Lineal/Cuadratica/nbproject/private/
/Interpolación/Lineal/Cuadratica/build/
/Interpolación/Lineal/LinealVariacion/nbproject/private/
/Interpolación/LinealVariacion/nbproject/private/
/Interpolación/LinealVariacion/build/
